//////////////////////////////
// nav
.btn_nav-link {
    @extend .group;
    @extend .group_inline;
    @extend .text_sm;
    @extend .group_spacing-xxs;
    @extend .group_align-center;
    @extend .flex_width-auto;
    color: $gray-color;
}
.btn_nav-img {
    @extend .btn_circle-md;
    background-color: transparent;
}
.btn_nav-link:hover {
    .btn_nav-img {
        background-color: $light-color;
    }
    color: $primary-color;
}
.btn_nav-link.active {
    .btn_nav-img {
        background-color: $primary-color--accent;
    }
    color: $primary-color;
    font-weight: bold;
}