/////////////////////////////
//bullet list
.bullet-list {
    list-style-type: none;
	margin-left: 0;
    margin-top: 0;
	margin-bottom: 30px;
    padding: 0;
	&:last-child {
		margin-bottom: 0;
	}
}
.bullet-list__item {
    list-style-type: none;
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
    counter-increment: li;
}
.bullet-list__item:before {
    content: "";
    @include corner(100%);
    @include position(absolute, 6px, auto, 0, auto, 6px, 6px);
    display: block;
    font-weight: bold;
    display: block;
}

//decimal
.bullet-list--decimal {
    counter-reset: item;
}
.bullet-list--decimal li {
    padding-left: 40px;
}
.bullet-list--decimal li:before {
    content: counters(item, ".") " .";
    counter-increment: item;
    background-color: transparent;
    font-weight: bold;
    width: auto;
    height: auto;
    top: 0;
    font-size: inherit;
    border-radius: 3px;
    padding: 0 5px;
}

.bullet-list--check li {
    padding-left: 30px;
}
.bullet-list--check li:before{
    top: 0;
    width: 20px;
    height: 20px;
    @include background(20px, center, no-repeat);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iNDgiPjxwYXRoIGZpbGw9IiMzNjgyZjkiIGQ9Ik0zNzgtMjIyIDEzMC00NzBsNjgtNjggMTgwIDE4MCAzODMtMzgzIDY4IDY4LTQ1MSA0NTFaIi8+PC9zdmc+');
    background-color: initial;
}
.bullet-list--check_light {
    @extend .bullet-list--check;
}
.bullet-list--check_light li:before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iNDgiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0zNzgtMjIyIDEzMC00NzBsNjgtNjggMTgwIDE4MCAzODMtMzgzIDY4IDY4LTQ1MSA0NTFaIi8+PC9zdmc+');
}

/////////////////////////////
//color
@each $colorClass, $value in $colorClass-palette {
	.bullet-list__item-#{$colorClass} {
        @extend .bullet-list__item;
	}
    .bullet-list__item-#{$colorClass}:before {
        background: $value;
        color: $value;
    }
}
@each $colorClass, $value in $mixClass-palette {
    .bullet-list__item-#{$colorClass}-full {
        @extend .bullet-list__item;
        color: map-get($value, 'bg');
	}
	.bullet-list__item-#{$colorClass}-full:before {
		background-color: map-get($value, 'bg');
	}
}