
/////////////////////////////
// icon images
.icon_sm {
    @extend .text_md;
    line-height: 1;
}

.icon_md {
    @extend .text_lg;
    line-height: 1;
}

.icon_md-1 {
    @extend .text_lg-1;
    line-height: 1;
}

.icon_lg {
    @extend .text_xl-1;
    line-height: 1;
}

//icon group
.icon_group {
    position: relative;
    display: block;
}
.icon_hover {
    @include transition(0.3s);
    @include position(absolute, 0, null, 0, null, 100%, null);
    visibility: hidden;
    @include opacity(0);
}
.icon_group-hover:hover .icon_group,
.icon_group-btn:hover .icon_group,
.active .icon_group,
.icon_group.active,
.icon_group:hover {
    .icon_hover {
        visibility: visible;
        @include opacity(100);
    }
    .icon {
        visibility: hidden;
        @include opacity(0);
    }
}
//btn
.icon_group-btn {
    @include width-height(auto, auto);
    padding: 4px;
    background-color: transparent;
    @include corner(10px);
    display: inline-flex;
    align-items: center;
    justify-content: center
}
.icon_group-btn--circle {
    @include corner(100%);
    padding: 7px;
}
.icon_group-hover:hover .icon_group-btn,
.icon_group-btn:hover {
    background-color: $light-color;
}
.active .icon_group-btn {
    background-color: $primary-color--accent;
}
.icon_fav:hover,
a.icon_fav:hover,
a.icon_fav {
    color: $danger-color;
}
.icon_fav:hover {
    @include transform(scale(1.3));
}
.icon_fav {
    background-color: $light-color;
    @include width-height(40px, 40px);
    @include corner(100%);
    @include material-icons;
    position: relative;
    font-size: 20px;
    display: inline-block;
}
.icon_fav:before {
    content: "\e87e";
    @include position(absolute, 0, 0, 0, 0, 20px, 20px);
    margin: auto;
}
.icon_fav-bottom-right {
    @include position(absolute, null, 0, null, 0, 40px, 40px);
}
.active.icon_fav-light:before {
    content: "\e87d";
}