/////////////////////////////
// panels
.panel {
    position: relative;
    z-index: 99;
}

// overlay
.panel_overlay:before {
    @include side-section__overlay;
}
.panel_overlay-transparent:before {
    @extend .panel_overlay;
    background-color: rgba($color: $light-color, $alpha: 0);
}
.panel_overlay-light:before {
    @extend .panel_overlay;
    background-color: rgba($color: $light-color, $alpha: 0.9);
}
//borders
.panel__wrap-left.panel_border {
    border-right: 1px solid $gray-border-color;
}
.panel__wrap-right.panel_border {
    border-left: 1px solid $gray-border-color;
}

//container
.panel_side-container {
    display: none;
    flex-grow: 1;
    align-items: baseline;
    > .flex_grow-1 {
        height: 100%;
    }
}


/////////////////////////////

//views
//active
.popup_active,
.panel_active {
    overflow: hidden;
}
.menu_active {
    .panel_menu {
        @include transform(translateX(0));
    }
    .panel_overlay--menu:before {
        visibility: visible;
        @include opacity(100);
    }
}
.panel_section-active {
    .panel_section {
        @include transform(translateX(0));
    }
    .panel_overlay--section:before {
        visibility: visible;
        @include opacity(100);
    }
}

//close
.popup_close,
.panel_close {
    @include position(absolute, 20px, null, null, 20px, null, null);
}

//general panel
.panel_active {
    .panel_side {
        @include transform(translateX(0));
    }
    .panel_side + [class*="panel_overlay"]:before {
        visibility: visible;
        @include opacity(100);
    }
}

// panel list
.panel_section--active .panel_section,
.panel_diagnostic--active .panel_diagnostic,
.panel_doctor-filter--active .panel_doctor-filter,
.panel_detail--active .panel_detail,
.panel_chat--active .panel_chat,
.panel_plan--active .panel_plan,
.panel_profile-menu--active .panel_profile-menu,
.panel_profile-detail--active .panel_profile-detail,
.panel_notification--active .panel_notification {
    display: flex;
}

// format
@each $colorClass, $value in $colorClass-palette {
    .panel__wrap-#{$colorClass} {
		background-color: $value;
	}
}

//resize
.panel_resizable {
    touch-action: none;
    user-select: none;
    max-width: none;
    @include sm {
        width: 400px;
    }
}
.panel_resizable-handle:before {
    content: "";
    cursor: ew-resize;
    @include transition(0.3s);
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
.panel__wrap-left .panel_resizable-handle:before {
    @include position(absolute, 0, null, null, 0, 25px, 100%);
}
.panel__wrap-right .panel_resizable-handle:before {
    @include position(absolute, 0, null, 0, null, 25px, 100%);
}

//hover
.panel__wrap-right .panel_resizable-handle:hover:before {
    border-left: 6px solid rgba($focus-color, $alpha: 0.3);
}
.panel__wrap-left .panel_resizable-handle:hover:before {
    border-right: 6px solid rgba($focus-color, $alpha: 0.3);
}

//active
.panel__wrap-right .panel_resizable-handle:active:before {
    border-left: 12px solid rgba($focus-color, $alpha: 0.3);
}
.panel__wrap-left .panel_resizable-handle:active:before {
    border-right: 12px solid rgba($focus-color, $alpha: 0.3);
}
.panel_resizable[style*="ew-resize"] {
    border-color: $focus-color;
}

//sticky
.panel {
	.h-sticky-bottom {
		padding-bottom: 10px;
		bottom: -10px;
	}
}