/////////////////////////////
//tables
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid transparent;
    @extend .text_sm-1;
}
.table-fixed {
    table-layout: fixed;
}
th,
td {
    vertical-align: top;
    border: 1px solid transparent;
    border-bottom: 0px;
    border-top: 0px;
    &[style*='width'] {
        overflow: hidden;
        white-space: nowrap;
    }
}
//header
th {
    padding: 20px 15px;
    @extend .text_xs;
}
thead tr {
    border: transparent;
}
td {
    padding: 10px 15px;
    color: $gray-color;
    @extend .text_sm;
}

//table color
:root {
    //--odd-row: #{hexToRGB($primary-color--dark)};
    --odd-row: transparent;
}
th,
td {
    border-left-color: transparent;
    border-right-color: transparent;
}
tr td:last-child,
tr td:first-child {
    border-left-color: transparent;
}
tr td:last-child {
    border-right-color: transparent;
}
tr {
    background-color: transparent;
    border-bottom: 1px solid $gray-border-color;
}
thead ~ tbody tr:nth-of-type(even) {
    background-color: rgba($color: var(--odd-row), $alpha: 0.05);
}
thead ~ tbody tr:nth-of-type(odd) {
    background-color: initial;
}
tr:nth-of-type(odd) {
    background-color: rgba($color: var(--odd-row), $alpha: 0.05);
}

//overflow
.table_responsive {
    overflow: auto;
    @include scroll;
}

//light
.table_light {
    --odd-row: #{$light-color};
    border-spacing: 0 2px;
    border-collapse: separate;
    tr:nth-of-type(odd) {
        background-color: var(--odd-row);
    }
}

//table fixed
.table-fixed_header tr {
    display: table;
    width: 100%;
}

.table-fixed_header tr td,
.table-fixed_header tr th {
    @include word-break;
}
  
.table-fixed_header tbody {
    overflow-y: auto;
    max-height: 200px;
    display: block;
    @include scroll(vertical, 0px);
    max-height: 500px;
}

//dividers
.cell_divider-vertical {
    border-left: 2px solid $primary-color--highlight;
}
.cell_divider-horizontal {
    border-bottom: 2px solid $primary-color--highlight;
}
