//tabs
//head
.tab_head {
    @extend .group_nowrap-scroll;
}
.tab_head-container {
    @extend .group;
    @extend .group_inline;
    gap: 0;
    border-bottom: 1px solid $gray-border-color;
    min-width: min-content;
}
//links
.tab_btn {
    padding: 10px 20px;
    position: relative;
    @include transition(0.3s);
}
.tab_btn:active {
    background-color: rgba($color: $primary-color, $alpha: 0.05);
    color: $primary-color--dark;
}
.tab_btn:before {
    content: "";
    @include position(absolute, null, -1px, 0, 0, 0, 3px);
    @include transition(0.3s);
    background-color: $primary-color--accent;
    display: block;
    z-index: 1;
    margin: auto;
}
.tab_btn--active {
    background-color: rgba($color: $primary-color--accent, $alpha: 0.1);
    color: $primary-color;
    font-weight: bold;
}
.tab_btn--active:before {
    width: 100%;
}
//oval
.tab_btn-oval {
    @extend .btn;
    @include corner(0);
    @extend .btn_lighter;
    @extend .flex_fill--md;
    @extend .group_content-center;
    padding: 5px 15px;
    @include sm {
        padding: 5px 20px;
    }
    &:first-child {
        @extend .flex_width-auto;
        @include corner(10rem, 0, 0, 10rem);
    }
    &:last-child {
        @extend .flex_width-auto;
        @include corner(0, 10rem, 10rem, 0);
    }
    &.tab_btn--active {
        background-color: #29CDF2DF;
        font-weight: normal;
        color: $primary-color;
        &:hover,
        &:focus,
        &:active {
            background-color: #29CDF2DF;
            color: $primary-color;
        }
    }
    &:hover {
        background-color: $lighter-color;
        color: $primary-color--highlight_clic;
    }
    &:active,
    &:focus {
        @include shadow(none);
        background-color: $lighter-color;
        color: $primary-color;
    }
    &:before {
        content: none;
    }
}
//steps
.tab_head-container--steps .tab_btn {
    background-color: #29CDF2DF;
    color: $primary-color;
}
.tab_head-container--steps .tab_btn--active ~ .tab_btn {
    color: $primary-color;
    background-color: $lighter-color;
}
//mobile
@include only-mobile {
    .tab {
        overflow: hidden;
    }
    .tab_head {
        overflow: initial;
    }
    .tab_head-container--steps.tab_btn-oval_container {
        margin: 0;
        position: relative;
        max-width: 100%;
        overflow: initial;
        background-color: transparent;
        justify-content: center;
    }
    .tab_head-container--steps .tab_btn--active {
        @include corner(30px);
    }
    .tab_head-container--steps .tab_btn {
        @include transition(0s);
    }
    .tab_head-container--steps .tab_btn:not(.tab_btn--active) {
        padding: 0;
        @include position(absolute, 0, null, 0, null, 0, 0);
        border: 0;
        font-size: 0;
    }
    .tab_head-container--steps .tab_btn--active + .tab_btn {
        visibility: visible;
        @include opacity(100);
        color: transparent;
        right: 0;
        left: auto;
        display: block;
    }
    .tab_head-container--steps .tab_btn:before {
        content: "\e5cb";
        @include material-icons;
        @include position(absolute, 15px, null, 0, auto, 30px, 30px);
        background-color: $primary-color--highlight;
        @include transition(0s);
        @include corner(100%);
        color: $light-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    }
    .tab_head-container--steps .tab_btn--active:before {
        content: none;
    }
    .tab_head-container--steps .tab_btn--active ~ .tab_btn:before {
        content: none;
    }
    .tab_head-container--steps .tab_btn.tab_btn--active + .tab_btn:before {
        content: "\e5e1";
        @include position(absolute, 15px, null, auto, 0, 30px, 30px);
    }
    .tab_head-container--steps .tab_btn--active + .tab_btn:hover:before {
        background-color: $primary-color--accent;
    }
}
///container oval
.tab_btn-oval_container {
    @extend .group;
    @extend .group_inline;
    @extend .group_spacing-none;
    @extend .group_nowrap-scroll;
    @extend .group_wrap-scroll--md;
    @extend .tab_container-lighter;
    @extend .group_content-between--md;
    border: 0;
    max-width: min-content;
    margin: 0 auto;
    @include md {
        max-width: none;
    }
}
.tab_container-lighter {
    @extend .h-corner-oval;
    background-color: $lighter-color;
}

//container
.tab_content {
    padding-top: 30px;
    display: none;
}
.tab_content--active {
    display: block;
}

.tab_head-container--icons {
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 15px;
    .tab_btn--active {
        background-color: $primary-color--accent;
        color: $primary-color;
    }
    .tab_btn:before {
        bottom: -17px;
    }
}
.tab_head-container--icons .material-icons{
    pointer-events: none;
}