/////////////////////////////
// views

//login
.section_login {
    background-image: url('../images/easymd_cover@3x.jpeg');
}

.footer_login {
    padding-top: 20px;
    position: relative;
    color: $light-color;
}
.footer_login:before {
    content: "";
    @include position(absolute, -20px, null, 50%, null, 400px, 400px);
    background-color: $primary-color;
    @include corner(100%);
    @include transform(translateX(-50%));
    z-index: -1;
    @include sm {
        @include width-height(600px, 600px);
    }
    @include md {
        @include width-height(500px, 500px);
    }
}

.graphic_metric-line:before {
    content: "";
    @include position(absolute, 0, null, null, 0, 33%, 100%);
    background-color: $secondary-color;
    @include corner(0, 30px, 30px, 0);
    z-index: 1;
}
.graphic_metric-line {
    display: block;
    width: 100%;
    @include form_reset;
    background-color: transparent;
    position: relative;
    z-index: 1;
}
.graphic_metric-line::-webkit-slider-thumb  {
    @include form_reset;
}
.graphic_metric-line:focus {
    outline: none;
}
.graphic_metric-line::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

.graphic_metric-line {
    @include rangeThumb {
        border: 1px solid $gray-border-color;
        height: 15px;
        width: 15px;
        @include corner(100%);
        background-color: $light-color;
        cursor: pointer;
        margin-top: -5px;
        z-index: 2;
        position: relative;
    }
    @include rangeTrack {
        @include bg-gradient(left, #38DE9C, 1, 33%, #25C686, 1, 33%);
        @include corner(30px);
        height: 5px;
    }
}

//slider nav
.slider_nav {
    @include material-icons;
    background-color: $primary-color;
    color: $light-color;
    @include corner(100%);
    border: 1px solid transparent;
    @include position(absolute, 0, 0, null, null, 20px, 20px);
    margin: auto;
    text-align: center;
    z-index: 1;
    line-height: 17px;
    font-size: 17px;
    @include transition(0.3s);
    &:hover {
        background-color: $primary-color--accent;
        color: $primary-color;
    }
}
.slider_nav-lg {
    height: 40px;
    width: 40px;
    font-size: 24px;
    align-items: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background: transparent;
    color: $primary-color;
}
.slider_nav-next {
    @extend .slider_nav;
    right: 0px;
}
.slider_nav-prev {
    @extend .slider_nav;
    left: 0px;
}
.slider_nav--light {
    border-color: $primary-color--accent;
    background-color: transparent;
    color: $primary-color--accent;
}
//slider
.specialist_nav-next,
.specialist_nav-prev {
    top: 60px;
    bottom: auto;
}
.farma_nav-next {
    right: -10px;
}
.farma_nav-prev {
    left: -10px;
}

//chat
.panel_chat-absolute {
    max-width: none;
    width: 100%;

    @include md {
        max-width: 700px;
    }
    @include xl {
        @include position(absolute, 0, null, 0, null, null, 100%);
        background-color: transparent;
    }
}

//dark mode
.easy_logo-front,
.easy_logo-back {
    @include transition(0.3s);
}
/* @include dark_theme {
    .easy_logo-back {
        fill: transparent;
    }
    .easy_logo-front {
        fill: inherit;
    }
} */
.dark\:fill-white[src*="logo_easy-md"] {
    @include dark_theme {
        content:url("../images/logo_easy-md--light.svg");
    }
}
.svg_contianer {
    @include position(absolute, 0, 0, 0, 0);
    @include opacity(0);
    visibility: hidden;
    z-index: -99;
    overflow: hidden;
}

//btn consultation
@include only-mobile {
    .btn_new-consultation {
        top: auto;
        bottom: 0;
        z-index: 1;
        width: 100%;
        right: 0;
        padding: 10px;
        background-color: $light-color;
        z-index: 2;
    }
    .btn_new-consultation--flat {
        padding: 0;
    }
    .btn_new-consultation .btn_circle-md {
        width: 100%;
        height: auto;
        @include corner(5px);
        padding: 6px 10px;
        position: relative
    }
    .btn_new-consultation--flat .btn_circle-md {
        @include corner(0);
        padding: 12px 10px;
    }
    .btn_new-consultation--flat .btn_circle-md:hover {
        background-color: $secondary-color;
    }
    .btn_new-consultation .btn_circle-md:after {
        content: "Consulta inmediata";
        font-family: $font-family-primary;
        font-weight: bold;
        font-size: 15px;
    }
    .btn_new-consultation .btn_circle-md:before {
        content: "";
        @include position(absolute, 0, 0, 0, 0, calc(100% - 10px),  calc(100% - 10px));
        margin: auto;
        border: 1px solid $primary-color;
        @include corner(5px);
        @include transition(0.3s);
    }
    .btn_new-consultation .btn_circle-md:hover:before {
        background-color: rgba($color: $light-color, $alpha: 0.2);
        border-color: $light-color;
    }
    #body_wrapper {
        padding-bottom: 50px;
    }
    #body_wrapper.h-inner-spacing-none {
        padding-bottom: 0;
    }
}

//popup plans
.popup_plans--active .popup__wrap {
    max-width: 800px;
}
.box_plans-container {
    cursor: auto;
    @extend .group_nowrap-scroll;
    @include sm {
        @include scroll(null, 6px);
    }
}
.box_plans {
    min-width: 100%;
    white-space: normal;
    @include sm {
        min-width: calc(50% - 15px);
    }
}
.box_plans-details {
    max-height: 280px;
    overflow-y: auto;
    //scroll
    @include scroll(null, 0px);
    @include sm {
        @include scroll(vertical, 6px);
    }
}
.box_plans > .box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

//box soft clic
.box_primary-accent_clic {
    background-color: rgba($color: $primary-color--accent_clic, $alpha: 0.4);
}

//calendar
.calendar {
    margin-top: 20px;
    margin-bottom: 20px;
}
.calendar_header {
    @extend .group;
    @extend .group_inline;
    @extend .group_align-center;
    @extend .group_content-center;
}
.calendar_header-nav {
    color: $primary-color;
    @extend .btn_circle-sm;
    @extend .btn_transparent;
    font-size: 20px;
}
a.calendar_header-nav:hover {
    color: $primary-color--highlight !important;
}
//days
.calendar_body-name,
.calendar_body-days {
    text-transform: uppercase;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include lg {
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    @include lg-1 {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}
.calendar_body-name {
    margin-top: 10px;
    @extend .text_xs;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    height: 30px;
    font-weight: bold;
}
.calendar_body-days {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    @extend .text_sm;
}
.calendar_body-days > * {
    @include corner(100%);
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: $gray-text-color;
    position: relative;
}

.calendar_body-days_number {
    background-color: rgba($color: $primary-color--highlight, $alpha: 0.1);
    color: $primary-color--highlight;
    font-weight: bold;
}
.calendar_body-days_number.active,
.calendar_body-days_number.selected,
.calendar_body-days_number:hover,
a.calendar_body-days_number:hover {
    background-color: $primary-color--highlight;
    color: $light-color;
}
.calendar_body-days_number.today:before {
    content: "";
    @include position(absolute, null, 4px, 0, 0, 4px, 4px);
    background-color: $primary-color--highlight;
    margin: auto;
    @include corner(100%);
    @include transition(0.3s);
}
.calendar_body-days_number.selected.today:before,
a.calendar_body-days_number.today:hover:before {
    background-color: $light-color;
}

//containers
.box_calendar {
    @extend .box_light;
    border: 1px solid $gray-border-color;
    @include lg {
        @include shadow(0px 0px 50px #00000029);
        @include position(absolute, 0, null, null, 0, auto, auto);
        border-color: transparent;
    }
    z-index: 1;
}
.box_calendar-agend {
    position: relative;
    @extend .group;
    @include lg {
        @include transition(0.3s);
        // padding-right: 200px;
    }
}
.box_calendar-hours {
    @extend .group;
    @extend .group_spacing-xs;
    @include lg {
        @include position(absolute, 20px, null, null null, 20px, 0, calc(100% - 40px));
        overflow: hidden;
        @include transition(0.3s);
    }
}
//active
@include lg {
    .panel_calendar {
        position: initial;
    }
    .panel_calendar .panel_section {
        @include transform(initial)
    }
    .panel_section-active .box_calendar-hours {
        width: calc(200px - 30px);
    }
    .panel_section-active .box_calendar-agend {
        padding-right: 200px;
    }
}

//panel
.box_hour-container {
    position: relative;
}
.box_hour {
    @extend .box_highlight-primary-highlight;
    @extend .box_sm;
    @extend .group;
    @extend .group_spacing-xxs;
    @extend .flex_fill;
}
.box_hour-checkbox {
    display: block;
}
.box_hour-checkbox.inactive input:checked ~ .box_hour-checkbox_number,
.box_hour-checkbox.inactive .box_hour-checkbox_number  {
    background-color: transparent;
    @include opacity(40);
    pointer-events: none;
}
.box_hour-checkbox input {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}
.box_hour-checkbox_number {
    @extend .btn_light;
    @extend .btn_outline-primary-highlight;
    @extend .btn_hover-primary-highlight;
    @extend .btn_block;
    cursor: pointer;
}
.box_hour-checkbox input:checked ~ .box_hour-checkbox_number {
    color: $light-color;
    background-color: $primary-color--highlight;
}